<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <property name="pressureSensitivity" value="false"/>
  <property name="zoomGesturesEnabled" value="true"/>
  <property name="selectedToolbar" value="Portrait"/>
  <property name="showToolbar" value="true"/>
  <property name="showSidebar" value="false"/>
  <property name="menubarVisible" value="true"/>
  <property name="pageTemplate" value="xoj/template&#10;copyLastPageSize=true&#10;copyLastPageSettings=false&#10;size=595.275591x841.889764&#10;backgroundType=graph&#10;backgroundColor=#ffffffff&#10;"/>
  <data name="tools">
    <attribute name="current" type="string" value="pen"/>
    <data name="eraser">
      <attribute name="drawingType" type="string" value="default"/>
      <attribute name="size" type="string" value="MEDIUM"/>
      <attribute name="type" type="string" value="deleteStroke"/>
    </data>
    <data name="pen">
      <attribute name="color" type="hex" value="000000"/>
      <attribute name="drawingType" type="string" value="strokeRecognizer"/>
      <attribute name="fill" type="int" value="0"/>
      <attribute name="fillAlpha" type="int" value="128"/>
      <attribute name="size" type="string" value="MEDIUM"/>
      <attribute name="style" type="string" value="plain"/>
    </data>
  </data>
</settings>
